<launch>
    <!-- Set your parameters as arguments in the launch file -->
    <arg name="detectable_objects_path" default="/config/detectable_objects.yaml"/>
  
    <node name="gazebo_perception_node" pkg="perception" type="gazebo_perception.py" output="screen">
        <param name="detectable_objects_path" type="string" value="$(arg detectable_objects_path)"/>
    </node>
</launch>
