.vscode/*
action_planner/scripts/__pycache__/*
underlay/*
action_planner/scripts/language_model/__pycache__/config.cpython-38.pyc
action_planner/scripts/language_model/__pycache__/dataset.cpython-38.pyc
action_planner/scripts/language_model/__pycache__/language_model.cpython-38.pyc
action_planner/scripts/language_model/__pycache__/utils.cpython-38.pyc
scene_graph/src/scene_graph/__pycache__/scene_graph_gui.cpython-38.pyc
scene_graph/src/scene_graph/__pycache__/scene_graph.cpython-38.pyc
action_planner/scripts/action_planner/__pycache__/action_plan_parser.cpython-38.pyc
