<?xml version="1.0"?>
<launch>
    <!-- Launch Fake Joints Simulator -->
    <include file="$(find simulator)/launch/fake_joints_simulator.launch" />

    <!-- Launch Manipulation for Fake Joints -->
    <include file="$(find manipulation)/launch/manipulation.launch">
        <arg name="fake_execution" value="true"/>
    </include>

    <!-- Launch Fake Gazebo Models -->
    <node name="simulator" pkg="simulator" type="model_states_publisher.py" output="screen"/>

    <!-- Launch Perception -->
    <include file="$(find perception)/launch/gazebo_perception.launch" />

    <!-- Launch World Monitor -->
    <node name="world_monitor" pkg="world_monitor" type="world_monitor_node.py" output="screen"/>

    <!-- Move robot to ready state -->
    <node name="ready_pose" pkg="manipulation" type="ready_pose.py" output="screen"/>

    <!-- Launch RViz -->
    <arg name="rviz_config" default="$(find executive)/config/rviz_config.rviz" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(arg rviz_config)">
      <rosparam command="load" file="$(find fetch_moveit_config)/config/kinematics.yaml"/>
    </node>
</launch>
