<?xml version="1.0"?>
<launch>
    <!-- Launch Fake Joints Simulator -->
    <include file="$(find simulator)/launch/fake_joints_simulator.launch" />

    <!-- Launch Manipulation for Fake Joints -->
    <include file="$(find manipulation)/launch/manipulation.launch">
        <arg name="fake_execution" value="true"/>
    </include>

    <!-- Launch Fake Gazebo Models -->
    <node name="simulator" pkg="simulator" type="model_states_publisher.py" output="screen"/>

    <!-- Launch Perception -->
    <include file="$(find perception)/launch/gazebo_perception.launch" />

    <!-- Launch World Monitor -->
    <include file="$(find world_monitor)/launch/world_monitor.launch">
        <arg name="yaml_path" value="$(find world_monitor)/config/static_objects.yaml"/>
    </include>

    <!-- Move robot to ready state -->
    <node name="ready_pose" pkg="manipulation" type="ready_pose.py" output="screen"/>

    <!-- Launch Visualizer -->
    <include file="$(find visualizer)/launch/visualizer.launch"/>
</launch>
