<?xml version="1.0"?>
<launch>
    <node name="simulator" pkg="simulator" type="vicon_data_publisher.py" output="screen"/>
    
    <!-- PERCEPTION -->
    <include file="$(find perception)/launch/gazebo_perception.launch">
        <arg name="detectable_objects_file_path" default="$(find perception)/config/detectable_objects_vicon.yaml"/>
        <arg name="model_states_topic" default="/gazebo/model_states"/>
    </include>

    <!-- WORLD MONITOR -->
    <arg name="object_definitions_file_path" default="$(find world_monitor)/config/object_definitions_vicon.yaml"/>
    <arg name="surfaces_definitions_file_path" default="$(find world_monitor)/config/surfaces.yaml"/>
    <node name="world_monitor_node" pkg="world_monitor" type="world_monitor_node" output="screen">
        <param name="object_definitions_file_path" value="$(arg object_definitions_file_path)" />
        <param name="surfaces_definitions_file_path" value="$(arg surfaces_definitions_file_path)" />
    </node>

    <!-- SCENE GRAPH -->
    <node name="scene_graph" pkg="scene_graph" type="scene_graph_node.py" output="screen"/>

    <!-- RVIZ -->
    <include file="$(find visualizer)/launch/visualizer.launch"/>

    <!-- EXECUTIVE -->
    <node name="executive_node" pkg="executive" type="executive_node.py" output="screen"/>
    
</launch>