<?xml version="1.0"?>
<launch>
    <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
    <include file="$(find fetch_moveit_config)/launch/move_group.launch"/>

    <!-- Launch Gazebo -->
    <include file="$(find simulator)/launch/fetch_gazebo.launch" />

    <!-- Launch RViz -->
    <arg name="rviz_config" default="$(find executive)/config/fetch_rviz_config.rviz" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(arg rviz_config)">
      <rosparam command="load" file="$(find fetch_moveit_config)/config/kinematics.yaml"/>     
    </node>
  
    <!-- Launch Perception -->
    <include file="$(find perception)/launch/gazebo_perception.launch" />
      
    <!-- Launch World Monitor -->     
    <node name="world_monitor" pkg="world_monitor" type="world_monitor_node.py" output="screen"/>
</launch>
