<launch>
    <!-- Add odom origin -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_broadcaster" args="0 0 0 0 0 0 1 world base_link" />
    
    <!-- Load fetch demo with MTC's execution capability -->
    <include file="$(find fetch_moveit_config)/launch/demo.launch">
        <arg name="use_rviz" value="false"/>
    </include>
    <param name="move_group/capabilities" value="move_group/ExecuteTaskSolutionCapability" />

    <!-- Run rviz with prepared config -->
    <include file="$(find fetch_moveit_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find visualizer)/config/rviz_config.rviz" />
    </include>

    <!-- READY POSE -->
    <node name="ready_pose" pkg="manipulation" type="ready_pose.py" output="screen"/>
</launch>