<?xml version="1.0"?>
<launch>
    <!-- Add world origin -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_broadcaster" args=".593 1.077 .649 0.0 0.0 0 1 world base_link" />

    <!-- SIMULATOR -->
    <include file="$(find simulator)/launch/fake_joints_simulator.launch"/>
    <node name="simulator" pkg="simulator" type="vicon_model_states_publisher.py" output="screen"/>
    
    <!-- MANIPULATION -->
    <include file="$(find manipulation)/launch/manipulation.launch">
        <arg name="fake_execution" value="true"/>
    </include>
    <param name="move_group/capabilities" value="move_group/ExecuteTaskSolutionCapability" /> 

    <!-- PERCEPTION -->
    <include file="$(find perception)/launch/gazebo_perception.launch">
        <arg name="detectable_objects_file_path" default="$(find perception)/config/vicon_detectable_objects.yaml"/>
        <arg name="model_states_topic" default="/gazebo/model_states"/>
    </include>

    <!-- WORLD MONITOR -->
    <include file="$(find world_monitor)/launch/world_monitor.launch">
        <arg name="object_definitions_file_path" value="$(find world_monitor)/config/vicon_object_definitions.yaml"/>
    </include>

    <!-- SCENE GRAPH -->
    <node name="scene_graph" pkg="scene_graph" type="scene_graph_node.py" output="screen"/>

    <!-- RVIZ -->
    <include file="$(find visualizer)/launch/visualizer.launch"/>

    <!-- READY POSE -->
    <node name="ready_pose" pkg="manipulation" type="ready_pose.py" output="screen"/>
</launch>
